# Node
node_modules
dist
dist-ssr
node_modules/.vite

# Env
.env
.env.*
*.local

# Coverage
coverage

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?